body {
  margin: 0;
  padding: 0;
  font-optical-sizing: auto;
  /* background: linear-gradient(to right, #412f88, #722b6a);
  background: linear-gradient(to right, #00008b, #dc143c);
  background: linear-gradient(90deg, #ff6b6b 0%, #a29bfe 50%, #00d2ff 100%); */
}

/* .form-control {
  background-color: transparent;
  border: 2px solid white;
} */

h2 {
  text-align: center;
  margin: 2rem;
  margin-bottom: 1rem;
  font-family: "Libre Baskerville", serif;
  font-style: normal;
}

h5 {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-style: normal;
}

.container {
  width: 40vw;
  height: 20vh;
  margin-top: 2rem;
}

.result {
  width: 40vw;
  height: 30vh;
  /* border: 1px solid #a0a0a0; */
  position: absolute;
  top: 25rem;
  left: 26rem;
  border-radius: 0.5rem;
  padding-top: 2rem;
  display: none;
}
