body {
  text-align: center;
}
.box {
  height: 15rem;
  width: 75%;
  border: 2px solid black;
  border-radius: 1rem;
  margin: 2rem auto;
  text-align: center;
}

button {
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
}

button:hover {
  background-color: black;
  color: white;
}
